% rebase('base.tpl')

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FlowTow - About</title>

    <link rel="icon" type="image/png" href="static/images/tab-logo.png" sizes="16x16">

    <link rel='stylesheet' href='static/style.css' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,600,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <div class='top'>

            <ul class='nav'>
                <li>
                    <a id="logo" href="/">FlowTow</a>
                </li>
                <li><a href="#">My Images</a></li>
                <li><a href="/about">About this site</a></li>
                <li>
                    <button id="logbutton">LOG IN</button>
                </li>
            </ul>
        </div>

        <div class="content">
            <div class="text">
                <h1>
                    About FlowTow
                </h1>

                <div class="txtblock">
                    <p>
                        FlowTow is a new, exciting, photo sharing service like nothing you've seen before!
                    </p>
                    <p>
                        Whether you want to share your social photos, professional works, or just something fun and interesting, FlowTow is the perfect platform.
                    </p>
                    <p>
                        FlowTow is designed to connect other users to you. While you continue to collect <i>moments, memories, art, images,</i> we share that with your world. Your friends. Your future employers. Your followers.
                    </p>
                    <p>
                        They say a picture is worth a thousand words. So maybe it's time to share your story...
                    </p>
                    <p><i>this in italics</i></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>