% rebase('base.tpl')

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">

        <div class="content">
            <div class="text">
                <h1 style="color: red;">
                    File Error
                </h1>

                <div class="txtblock">
                    <p style="color: red;">
                        * File is not a JPG, PNG, or GIF type image
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>