% rebase('base.tpl')

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="static/images/tab-logo.png" sizes="16x16">


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.likebutton').click(function (e) {
                $(this).toggleClass('likeClicked');
            });
        });
    </script>v
</head>

<body>


    <div class="container">

        <div class='content'>
            <div>
                <h1 id="banner">Welcome to FlowTow</h1>
            </div>
            <form id="uploadform" action="/upload" method="post" enctype="multipart/form-data">
                <div>
                    % if session:
                    <div id="upload">
                        <div id="up_section">
                            <input type="file" name="imagefile">
                            <p class="help-text">
                                Select an image file to upload (JPG, PNG or GIF).
                            </p>
                            <input type="submit" value="Submit" id="upload_button">
                        </div>
                    </div>
                    % end
                </div>
            </form>

            % for img in images:
            <div class='flowtow'>
                <div class='image'>
                    <img src="/static/images/{{img['filename']}}" alt={{img['filename'].split(".")[0]}}>
                    <p class='date'>{{img['timestamp']}}</p>
                    <p class='user'>{{img['user']}}</p>
                    <p class='likediv'><b class="likes">{{img['likes']}}</b> likes</p>
                    % if session:
                        % if not interface.like_exists(db, img['filename'], name):
                        <form action="/like" method="post">
                            <input type="hidden" name="filename" value="{{img['filename']}}">
                            <!--hidden field for usernick (the user liking the image)-->
                            <input type="submit" value="Like" class='likebutton'>
                        </form>
                        % else:
                        <form action="/unlike" method="post">
                            <input type="hidden" name="filename" value="{{img['filename']}}">
                            <!--hidden field for usernick (the user liking the image)-->
                            <input type="submit" value="Unlike" class='unlikebutton'>
                        </form>
                        % end
                    % end
                    % if img['user'] == name:
                    <form action="/delete" method="post">
                        <input type="hidden" name="filename" value="{{img['filename']}}">
                        <input class="delete" type="submit" value="Delete">
                    </form>
                    % end
                </div>
            </div>

            % end

        </div>
    </div>
</body>