% rebase('base.tpl')

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FlowTow</title>
    <link rel="icon" type="image/png" href="static/images/tab-logo.png" sizes="16x16">

    <link rel='stylesheet' href='../static/style.css' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.likebutton').click(function (e) {
                $(this).toggleClass('likeClicked');
            });
        });
    </script>
</head>

<body>


    <div class="container">
        <div class='top'>

            <ul class='nav'>
                <li>
                    <a id="logo" href="/">FlowTow</a>
                </li>
                <li><a href="#">My Images</a></li>
                <li><a href="/about">About this site</a></li>
                <li>
                    <button id="logbutton">LOG IN</button>
                </li>
            </ul>
        </div>

        <div class='content'>
            <div>
                <h1 id="banner">Welcome to FlowTow</h1>
            </div>
            % for img in images:

            <div class='flowtow'>
                <div class='image'>
                    <img src="/static/images/{{img['filename']}}" alt={{img[ 'filename'].split( ".")[0]}}>
                    <p class='date'>{{img['timestamp']}}</p>
                    <p class='user'>{{img['user']}}</p>
                    <p class='likediv'><b class="likes">{{img['likes']}}</b> likes</p>
                    <form action="/like" method="post">
                        <input type="hidden" name="filename" value="{{img['filename']}}">
                        <!--hidden field for usernick (the user liking the image)-->
                        <input type="submit" value="Like" class='likebutton'>
                    </form>
                </div>
            </div>

            % end

        </div>
    </div>
</body>